Variables In Python

In [2]:
a = 5  
b = 3  
area = a * b  
print(area)

15

In [5]:
name = "Arooj Fatima"
name

'Arooj Fatima'

How to Calculate Discounted Price Using Variables in Python?

In [8]:
price = 150
discount = 20
final_price = price - discount
final_price

130

 How to Store and Print Different Types of Data Using Variables |in Python?

In [12]:

name = "Sara"
age = 25
height = 5.6
is_active = True

print(name)
print(age)
print(height)
print(is_active)

Sara
25
5.6
True

Valid Examples

In [18]:
my_name = "Ali"
_age = 25
user1 = "Hira"
print(user1)
print(my_name)
print(_age)

Hira
Ali
25

Invalid Examples

In [20]:
1name = "Ali"       # Starts with number
my name = "Hira"    # Space not allowed
class = "Python"    # ‘class’ is a keyword
print(1name)
print(my_name)
print(class)

SyntaxError: invalid decimal literal (432460804.py, line 1)

Using Variables to Calculate Area of Rectangle

In [24]:
length = 10
breadth = 5
area = length * breadth
area

50